#forecast {
  background: linear-gradient(180deg, #1e90ff, hsl(225, 80%, 25%));
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 90%;
  height: 70%;
  color: white;
  box-shadow: 1px 2px 8px black;
}

#forecast .forecast-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#forecast .forecast-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#forecast .forecast-container .forecast-icons {
  display: flex;
  flex-direction: row;
}

#forecast .forecast-container .forecast-icons p {
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin: 2px;
  font-size: 0.9rem;
}